// nextflow.config
params {
    input  = '/gpfs_backup/bioinfo_data/training_data/nextflow_crash_course/sample_*_*.fastq.gz'
    outdir = './results'
}


profiles {
       hazel {
           process.executor = 'slurm'
           process.cpus     = 2
       }
       test {
           // placeholder
       }
}