// nextflow.config
params {
    input  = 'data/sample_*_*.fastq' // TODO: change this to shared data 
    outdir = './results'              
}


profiles {
     hazel {
        process {
            executor     = 'slurm'
            cpus         = 2
            memory       = 4.GB
            time         = 1.h
            beforeScript = 'module load singularity'

            resourceLimits = [
                memory: 128.GB,
                cpus:   24,
                time:   120.h
            ]
        }

        singularity {
            enabled    = true
            autoMounts = true
            cacheDir   = System.getenv('APPTAINER_CACHEDIR') ?: "/share/${System.getenv('GROUP')}/${System.getenv('USER')}/tmp"

            // autoMounts doesn't bind Hazel's system $TMPDIR, breaking tools that use it
            runOptions = '-B ${TMPDIR:-/tmp}'
        }
    }

    test {
        // placeholder
    }


}