   // nextflow.config
params {
    input  = '/gpfs_backup/bioinfo_data/training_data/nextflow_crash_course/sample_*_*.fastq.gz'
    outdir = './results'
}

profiles {
     hazel {
        process {
        // General resource allocation default
            executor     = 'slurm'
            cpus         = 2
            memory       = 4.GB
            time         = 1.h


        // Resource specifications for tools
            withName: 'fastqc' {
                cpus   = 1
                memory = 2.GB
            }

            withName: 'assembly' {
                cpus   = 8
                memory = 32.GB  
                time   = '2h'
            }
            
        // Resource limits for Hazel HPC
            resourceLimits = [
                memory: 128.GB,
                cpus:   24,
                time:   120.h
            ]
        }

        //Use this if you are working with containers rather than modules
        process.beforeScript = 'module load apptainer'
        apptainer {
            enabled    = true
            autoMounts = true
            cacheDir   = System.getenv('APPTAINER_CACHEDIR') ?: "/share/${System.getenv('GROUP')}/${System.getenv('USER')}/tmp"

            // autoMounts doesn't bind Hazel's system $TMPDIR, breaking tools that use it
            runOptions = '--bind /rs1:/rs1 --bind ${TMPDIR:-/tmp}'
            
        }
    }

    local {
        // placeholder
    }

}
   
   
   
   
   
